* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color:rgba(238, 238, 238, 0.74);
}

/* intestazione logo */
.logo-text {
    background: white;
    height: 80px;
    width: 100%;   
    padding: 13px;
}

.logo-text #logo {
    background: url(../img/Logo.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;  
    float: left; 
}

.logo-text h1 {
    float: left;
    font-size: 40px;
    margin-left: 5px;
}
/* chiusura intestazione */

main {
    width: 1200px;
    margin: auto;
}

/* top table */
.top-table {
    background: white;
    height: 50px;
    width: 100%;
    margin-top: 40px;
    border-radius: 5px 5px 0 0;
}

/* pulsanti */
.top-table .square {
    margin: 0 80px;
    line-height: 50px;
    vertical-align: 50px;
}

.square #task {
    background-color:deepskyblue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    padding: 8px;
    margin-right: 4px;
}

.square #selection {
    background: white;
    color: lightgrey;
    border: 1px solid lightgrey;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px;
}
/* chiusura pulsanti */

/* contenuto */
.container {
    background: white;
    height: 750px;
    margin-top: 3px;
    border-radius: 0 0 5px 5px;
}

/* regole generali */
.container .check {
    display: inline-block;
    color: lime;
    font-size: 15px;
    border: 1px solid lime;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;  
}

.container .uncheck {
    display: inline-block;
    color: red;
    padding: 2px;
    border: 1px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 12px;
}

.container p {
    display: inline-block;
    line-height: 40px;
}

.container .blue-ticket {
    display: inline-block;
    margin: auto;
    background-color: deepskyblue;
    color: white; 
    border-radius: 20px;
    padding: 6px;
    font-size: 10px;
}

.container .text {
    padding: 25px 70px;
}
/* chiusura regole generali */

/* today */
.today #goals {
    display: inline-block;
    margin: auto;
    background-color: rgb(136, 93, 255);
    color: white; 
    border-radius: 20px;
    padding: 6px;
    font-size: 10px;
}

.today #recruiting {
    display: inline-block;
    margin: auto;
    background-color: rgb(96, 187, 134);
    color: white; 
    border-radius: 20px;
    padding: 6px;
    font-size: 10px;
}

.today #mobile {
    display: inline-block;
    margin: auto;
    background-color: orange;
    color: white; 
    border-radius: 20px;
    padding: 6px;
    font-size: 10px;
}

/* upcoming */
.upcoming #website {
    display: inline-block;
    margin: auto;
    background-color: rgb(255, 37, 73);
    color: white; 
    border-radius: 20px;
    padding: 6px;
    font-size: 10px;  
}

.upcoming #sales {
    display: inline-block;
    margin: auto;
    background-color: rgb(117, 255, 37);
    color: white; 
    border-radius: 20px;
    padding: 6px;
    font-size: 10px;  
}