* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color:rgba(238, 238, 238, 0.74);
}

/* intestazione logo */
.logo-text {
    background: white;
    border: 1px solid black;
    height: 80px;
    width: 100%;   
    padding: 13px;
}

.logo-text #logo {
    background: url(../img/Logo.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    
    display: inline-block;   
}

.logo-text h1 {
    display: inline-block;
    line-height: 12px;
    vertical-align: 12px;
    font-size: 40px;
    margin-left: 5px;
}
/* chiusura intestazione */

main {
    width: 1200px;
    margin: auto;
}

/* top table */
.top-table {
    background: white;
    height: 50px;
    width: 100%;
    margin-top: 40px;
    border-radius: 5px 5px 0 0;
}

/* pulsanti */
.top-table .square {
    margin: 0 80px;
    line-height: 50px;
    vertical-align: 50px;
}

.square #task {
    background-color:deepskyblue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    padding: 8px;
    margin-right: 4px;
}

.square #selection {
    background: white;
    border: 1px solid grey;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px;
}
/* chiusura pulsanti */

/* contenuto */
.container {
    background: white;
    height: 750px;
    margin-top: 3px;
}
/* new task */
.container .new {
    padding: 40px 75px;
}

.new #check {
    margin-top: 10px;
    color: rgb(0, 255, 128);
}

.new h3 {
    display: inline-block;
}

.new h4 {
    display: inline-block;
    background: deepskyblue;
    color: white;
    font-size: 12px;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}

/* today */
.container .today {
    padding: 0 75px;
}
/* testo1 */
.testo1 #check {
    margin-top: 10px;
    color: rgb(0, 255, 128);
}

.testo1 h3 {
    display: inline-block;
}

.testo1 h4 {
    display: inline-block;
    background: deepskyblue;
    color: white;
    font-size: 12px;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}
/* chiusura testo1 */

/* testo2 */
.testo2 #check {
    margin-top: 10px;
    color: rgb(0, 255, 128);
}

.testo2 h3 {
    display: inline-block;
}

.testo2 h4 {
    display: inline-block;
    background: mediumslateblue;
    color: white;
    font-size: 12px;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}
/* chiusura testo2 */

/* testo3 */
.testo3 #uncheck {
    margin-top: 10px;
    color: red;
    font-size: 20px;
}

.testo3 h3 {
    display: inline-block;
    margin-left: 2px;
}

.testo3 h4 {
    display: inline-block;
    background: rgb(104, 238, 171);
    color: white;
    font-size: 12px;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}
/* chiusura testo3 */

/* testo4 */
.testo4 #check {
    margin-top: 10px;
    color: rgb(0, 255, 128);
}

.testo4 h3 {
    display: inline-block;
}

.testo4 h4 {
    display: inline-block;
    background: orange;
    color: white;
    font-size: 12px;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}
/* chiusura testo4 */

/* upcoming */
.container .upcoming {
    padding: 40px 75px;
}

/* testo2_1 */
.testo2_1 #uncheck {
    margin-top: 2_10px;
    color: red;
    font-size: 20px;
    padding: 0 3px;
}

.testo2_1 h3 {
    display: inline-block;
}
/* chiusura testo2_1 */

/* testo2_2 */
.testo2_2 #check {
    margin-top: 10px;
    color: rgb(0, 255, 128);
}

.testo2_2 h3 {
    display: inline-block;
}

.testo2_2 h4 {
    display: inline-block;
    background: rgb(167, 52, 77);
    color: white;
    font-size: 12px;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}
/* chiusura testo2_2 */

/* testo2_3 */
.testo2_3 #check {
    margin-top: 10px;
    color: rgb(0, 255, 128);
}

.testo2_3 h3 {
    display: inline-block;
}

.testo2_3 h4 {
    display: inline-block;
    background: rgb(119, 182, 83);
    color: white;
    font-size: 12px;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}
/* chiusura testo2_3 */

/* testo2_4 */
.testo2_4 #check {
    margin-top: 10px;
    color: rgb(0, 255, 128);
}

.testo2_4 h3 {
    display: inline-block;
}

.testo2_4 h4 {
    display: inline-block;
    background: deepskyblue;
    color: white;
    font-size: 12px;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}
/* chiusura testo2_4 */